:root {
  --easing: cubic-bezier(0.645, 0.045, 0.355, 1);
  --darkist: #205072;
  --darker: #329D9c;
  --dark: #56C596;
  --light: #7BE495;
  --lighter: #CFFAD2;
}

.App {
  font-family: sans-serif;
  /* background-color: #021e26; */
}

.fadeup-enter {
  opacity: 0.01;
  transform: translateY(20px);
  transition: opacity 300ms var(--easing), transform 300ms var(--easing);
}
.fadeup-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 300ms var(--easing), transform 300ms var(--easing);
}

.container {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.disappear {
  opacity: 0;
}

.relative-wrapper {
  position: relative;
}

.hero-card {
  margin: 50px;
  position: relative;
  justify-content: center;
  background-color: #021e26;
  display: flex;
  border-radius: 10px;
  /* width: 100%; */
  /* height: 100vh; */
  min-height: max-content;
  min-width: max-content;
  overflow: hidden;
  
}

.corner-blobs {
  /* height: 500px; */
}